<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>AirBnB Clone</title>
    <link rel="shortcut icon" href="images/icon.ico" >
		<link rel="stylesheet" href="styles/4-common.css"/>
		<link rel="stylesheet" href="styles/3-header.css"/>
		<link rel="stylesheet" href="styles/3-footer.css"/>
		<link rel="stylesheet" href="styles/6-filters.css"/>
</head>
<body>
    <header>
        <A href="/hbnb_filters"></A>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <H3>States</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                    {% for state in states %}
                    <LI>
                        <H2>{{ state.name }}</H2>
                        <UL>
                            {% for city in state.cities %}
                            <LI>{{ city.name }}</LI>
                            {% endfor %}
                        </UL>
                    </LI>
                    {% endfor %}
                </UL>
            </div>
            <div class="amenities">
                <H3>Amenities</H3>
                <H4>&nbsp;</H4>
                <UL class="popover">
                    {% for amenity in amenities %}
                    <LI>{{ amenity.name }}</LI>
                    {% endfor %}
                </UL>
            </div>
            <BUTTON>Search</BUTTON>
        </section>
    </div>
    <footer>
        Holberton School
    </footer>
</body>
</html>